* colab에 좋은 점: 시각화가 잘 되어 있고, 설치가 필요 없고, 학습을 빠르게 할 수 있다.
* .py에 좋은 점: 실무에서는 colab으로 개발하는 것이 아닙니다! .py로 만들어서 개발해야 합니다.

# colab

- google id만 있으면 ram을 12G, disk를 100G나 되는 원격 컴퓨터를 무료로 준다!
- 여기에는 Python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요 없다!
- google drive가 자동 연동되어서 별도로 다운로드 해서 저장할 필요가 없다!
- Ctrl + Enter: 현재 셀 실행
- Alt + Enter: 현재 셀 실행 + 아래 셀 하나 만들기

## 마크업과 마크다운

```
- HTML은 웹 브라우저나 고급 문서를 표현
<h1>hello world</h1>
<h2>hello world</h2>
<p>hello world</p>

- Markdown은 서식이 필요치 않은 문서를 표현
# hello world
## hello world
```

## 마크 다운 문법(우리가 사용할 문법)

```
# hello world
## hello world
### hello world

- hello world
- hello world
- hello world

1. hello world
2. hello world
3. hello world
```

# range

In [ ]:
range(1, 10, 2) # start, stop, step

In [1]:
l = [10, 20, 30, 40]
l # 이렇게 마지막 라인에 한하여 print를 안해도 출력이 됩니다.

[10, 20, 30, 40]

In [2]:
range(0, 10)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # 아니? 이렇게 왜 안나오는거지?

range(0, 10)

In [4]:
# range()는 python 2.x에서는 list였습니다!!!!?
type(range(0, 10)) # 왜 range라는 타입일까요?

range

In [ ]:
# 파이썬은 속도를 올리기 위한 작업을 매 버전마다 해왔습니다.
# 그래서 최종 목표는 C의 속도를 따라잡는 것입니다.
# range(10000000000000000) 이렇게 데이터를 생성한다고 생각해보세요.
# 0 ~ 10000000000000000에 숫자를 모두 메모리에 올려야 합니다.
# xrange()라는 것을 만들어서 이를 해결했습니다.
# xrange는 숫자를 생성하지 않고, start, stop, step 값으로 호출을 할 때 하나씩 생성을 하는 방식을 새롭게 도입했습니다.
# xrange가 3.x로 오면서 range가 된 것입니다!

In [10]:
# range()의 인덱싱
range(100)[3]
range(100, 1000, 100)[3]

400

In [9]:
# range()의 슬라이싱
range(100)[1:10]

range(1, 10)

In [13]:
# range의 step 음수 값
list(range(100, 9, -10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# function

In [ ]:
# function이라는 것이 왜 필요했을까?
# 첫번째 이유

x = 10 # 이 코드가 반복되니 이 코드의 이름을 hello라고 하고, 이 코드 자리에 hello를 놓자!
y = 20
print(x + y)

a = 10

x = 10
y = 20
print(x + y)

b = 20

x = 10
y = 20
print(x + y)

a + b

x = 10
y = 20
print(x + y)

a - b

x = 10
y = 20
print(x + y)

In [ ]:
# function이라는 것이 왜 필요했을까?
# 반복되는 코드가 줄어들었다!

def hello():
    x = 10
    y = 20
    print(x + y)

hello()
a = 10
hello()
b = 20
hello()
a + b
hello()
a - b
hello()

In [ ]:
# 두 번째 이유
# 수만줄의 코드도 아래와 같이 함수로 쌓여있으면 '구조를 파악'하기 쉽습니다.

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기()
지붕올리기()
내부인테리어()

In [ ]:
# 세 번째 이유
# 알지 않아도 되는 코드를 들여다보지 않을 수 있어요.
# 추상화
# 여러분이 자동차를 운전할 때 자동차 패달을 밟는다 해서
# 엔진을 뜯어볼 필요가 있나요?
# 파이썬에서 추상화란 복잡한 내부 구현을 숨기고
# 필요한 기능만 외부에 노출시켜 코드를 더 이해하기 쉽고 사용하기 편리하게 만드는 개념입니다.

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기() # 내 과업은 벽돌 쌓기를 수정하는 것입니다.
지붕올리기()
내부인테리어()

In [14]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# 파라미터와 아규먼트

def xysum(x, y): # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실행할 때)

def xysum(x, y): # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분

In [75]:
def xysum(x, y):
    return x + y # 나를 호출한 곳에 그대로 이 값을 넣어주세요!

result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)
result

210

In [76]:
def xysum(x, y):
    print(x + y)

result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)
result

30
70

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [80]:
None
print(None)

None

In [81]:
def a(x, y):
    z = x + y

print(a(10, 20))

None

In [82]:
def a(x, y):
    z = x + y
    return None

print(a(10, 20))

None

In [84]:
print(print(print('hello')))

hello
None
None

In [ ]:
# 파라미터가 있는 함수
def hello(a):
    return a

# 파라미터가 없는 함수
def hello():
    return 'hello world'

In [ ]:
# 리턴값이 있는 함수
def add(a, b):
    return a + b

# 리턴값이 없는 함수
def add(a, b):
    print(a + b)

In [89]:
# 문제1: 2x + 15 방정식이 주어졌을 때, x값이 10일때 y값이 얼마인지 구하는 함수를 만드세요.

def solution(x):
    return 2 * x + 15

solution(10)

35

In [91]:
# map을 아직 안배웠어요!
# map은 나중에 할 예정입니다. 지금 이 코드는 '어떻게 활용하는가?'에 대한 얘기입니다.
list(map(solution, range(10)))

[15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [88]:
# 실제 모의 주식 그래프는 아래와 같이 그립니다.
import random

l = [15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
result = []
for i in l:
    result = result + [i + random.randint(-5, 5)]
result

[15, 12, 22, 26, 20, 22, 22, 28, 29, 37]

In [93]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.

def solution(a, b):
    for i, v in enumerate(a):
        a[i] = v + b[i]
    return a

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [95]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.
# 관습적으로 안쓰는 코드는 변수 _ 에 할당합니다.

def solution(a, b):
    result = []
    for i, _ in enumerate(a):
        result.append(a[i] + b[i])
    return result

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [97]:
list(enumerate({'one':100, 'two':200}))

[(0, 'one'), (1, 'two')]

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.
# 좀 더 우아한 풀이

def solution(a, b):
    return list(map(sum, (zip([10, 20, 30], [1, 2, 3]))))

solution([10, 20, 30], [1, 2, 3])

In [101]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]

def solution(matrix, multiplier):
    result = []
    for i in matrix:
        result.append(i * multiplier)
    return result

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [102]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]

def solution(matrix, multiplier):
    return [i * multiplier for i in matrix]

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [103]:
s = []
for i in range(1, 10, 2):
    s.append(i)
s

[1, 3, 5, 7, 9]

In [104]:
[i for i in range(1, 10, 2)]

[1, 3, 5, 7, 9]

In [106]:
# 아래와 같은 코드는 가독성이 떨어지기 때문에 좋은 코드라고 보기 어렵습니다.
# 파이썬에서는 읽기 좋은 코드에 가치를 높게 평가합니다!
[f'{i} X {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [107]:
# 문제4: 프로그래머스(카카오 코딩 테스트 보는 공간)에 문제 하나 풀어보세요.
# 기업에서 이런식으로 알고리즘 테스트가 나옵니다.
# https://school.programmers.co.kr/learn/courses/30/lessons/181928

def solution(num_list):
    짝수 = ''
    홀수 = ''
    for i in num_list:
        if i % 2 == 0:
            짝수 += str(i)
        else:
            홀수 += str(i)
    answer = int(짝수) + int(홀수)
    return answer

solution([3, 4, 5, 2, 1])

393

In [108]:
# 파라미터에 기본값이 정해져 있는 경우!

def add(x = 10, y = 20):
    return x + y

add()

30

In [109]:
# 지역변수 전역변수

x = 10

def hello():
    print(x) # 밖에 있는 변수는 읽을 수는 있습니다.

hello()

10

In [111]:
x = 10

def hello():
    x += 1 # 밖에 있는 변수를 수정할 수는 없습니다.

hello()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [112]:
x = 10 # 전역변수 x 10

def hello():
    x = 100 # 지역변수 x 100

hello()
print(x)

10

In [113]:
x = 10 # 전역변수 x 10

def hello(input_x):
    input_x += 10
    return input_x

x = hello(x) # 초급자의 마음: 아니? 이렇게 불편하게 써야해?
print(x)

20

In [114]:
# 초급자의 마음: 이렇게 하면 되잖아!
# => 아주 짧은 코드에서는 맞는 얘기지만
# 실무에서는 깨끗한 코드, 구조화 되어있는 코드, 견고한 코드가 필요합니다.

x = 10
x += 10

print(x)

20

In [ ]:
# 대부분 아래 코드는 안좋은 사례로 꼽힙니다.

x = 10

def hello():
    global x
    x += 100

hello()
print(x)

In [117]:
# locals()
# globals()

In [118]:
def add(a, b):
    z = a + b
    print(locals())
    return z

add(10, 20)

{'a': 10, 'b': 20, 'z': 30}

30

In [15]:
# hello라는 것은 무엇일까?
# print라는 것은 무엇일까?

# hello든 print든 변수입니다! 함수의 이름은 변수입니다.

In [16]:
a = print
a('hello world')

hello world

In [17]:
l = [a, a, a, a, a]
l[0]('hello')

hello

# 변수

In [18]:
a = 10
b = a
c = b

c

# 화살표는 어떻게 그려지는 것일까요? 답은 2번입니다!
# 1번: c -> b -> a -> 10
# 2번:
#      a -> 10
#      b -> 10
#      c -> 10

10

In [19]:
# 증명
a = 10
b = a
c = b

c

10

In [20]:
b = 100
c

10

In [69]:
a = [1, 2, 3]
b = a

id(a), id(b)

a.append(10)
b

[1, 2, 3, 10]

# type, dir, id

- type은 앞으로도 자주 사용됩니다. 왜냐하면 우리가 앞으로 사용할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문이에요.
- dir은 여러분이 해당 자료형에 있는 속성들을 파악하기 좋습니다.
- id는 해당 자료형이 무엇을 가리키고 있는지 확인하기 좋습니다.

In [22]:
l = [10, 20, 30, 40]
print(type(l)) # print와 print를 안하는 것은 왜 차이가 있죠?

<class 'list'>

In [23]:
print(type(hello))

<class 'function'>

In [24]:
a = 10
print(type(a))

<class 'int'>

In [25]:
print(a)

10

In [29]:
# 타입 확인이 이만큼 중요하다는 것을 보여드리기 위한 예제 2개

# 예 1) 눈으로 10으로 보인다고 해서 int형이라고 생각하지 마세요.
import numpy as np

data = np.array(10)
print(data)
print(type(data))

10
<class 'numpy.ndarray'>

In [33]:
# 예 2) 타입을 확인해야 하는 이유는 아래와 같아요. 기본 연산이 다르기 때문이죠.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3]) + np.array([4, 5, 6]))

[1, 2, 3, 4, 5, 6]
[5 7 9]

In [34]:
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

# 이게 왜 중요할까? 코딩하다가 메서드 까먹을까봐 중요하다고 하신걸까?

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
# 이 빌트인 펑션이 왜 중요하냐면, 앞으로 여러분들이 만날 자료형들은
# 새롭게 만나는 자료형들입니다.
# 예를 들어, 아래 타입을 한 번 살펴보도록 하겠습니다.

import numpy as np

data = np.array([[10, 20, 30], [40, 50, 60]])
dir(data)
# 아래 목록만 봐도 어떤 자료형인지 짐작할 수 있고
# 원하는 메서드를 바로 발견할 수도 있습니다.

print(data.T)

[[10 40]
 [20 50]
 [30 60]]

In [41]:
# id

a = 10
b = a
c = b

# 화살표는 어떻게 그렸죠?
id(a), id(b), id(c)

# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [43]:
a = 10
b = 10

id(a), id(b)

# 다른 언어에서는 이 값이 다릅니다! 그러면 파이썬에서는 같은가요? 아니요!
# 아니? 아래 같게 나왔는데요?

(10751144, 10751144)

In [44]:
a = 10000
b = 10000

id(a), id(b)

# 다르게 나왔네요?

(133401993028752, 133401993030096)

# print와 print를 안하는 것에 차이

In [55]:
# 아직 class를 안배웠지만, 이 차이를 설명하기 위해 잠시 이 코드를 사용하겠습니다.

class CustomInt:
    def __repr__(self):
        return 'hello'

    def __str__(self):
        return 'hello world'

    def __len__(self):
        return 100

In [57]:
a = CustomInt()

a

hello

In [53]:
print(a)

hello world

In [58]:
len(a)

100

In [49]:
a = 10
print(type(a))
print(a)

<class 'int'>
10

In [50]:
a

10

In [62]:
# 아직 class를 안배웠지만, 이 차이를 설명하기 위해 잠시 이 코드를 사용하겠습니다.
# repr이 있으면 str이 없어도 repr이 대체를 해줍니다!

class CustomInt:
    def __repr__(self):
        return 'hello'

test = CustomInt()
# test
print(test)

hello

In [ ]:
# print     -> 해당 인스턴스에 __str__ 호출
# 그냥 출력 -> 해당 인스턴스에 __repr__ 호출

In [67]:
a = 10
dir(a)
# a.__repr__() # 그냥 출력! 했을 때 실제 실행되는 함수
# a.__str__() # print로 출력! 했을 때 실제 실행되는 함수

'10'

# python built-in functions

* 링크: https://docs.python.org/3/library/functions.html

In [ ]:
# 자주 사용하는 functions
abs
all
any
bin
enumerate
len
format
input
range

sorted
reversed

filter
map
zip

# isinstance # class파트에서 해드리겠습니다!
# issubclass

iter
next

locals
globals

max
min
sum

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str
# complex
# list
# tuple
# dict
# set

In [ ]:
abs(-10) # 절대값
all([True, True, False]) # 안에 있는 값이 다 True여야 True!
any([True, True, False]) # 하나라도 True라면 True!
bin(10) # 2진수로 바꿔줍니다. 알고리즘 문제에서 아주 간혹 출제 됩니다.

In [74]:
# enumerate
# len
# format
# input
# range

'0b1010'

# 반복문(while)

# 조건문(match)